/* ===========================
   GENERAL
=========================== */


@font-face {
    font-family: "Great Vibes";
    src: url("assets/fonts/GreatVibes-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("assets/fonts/CormorantGaramond-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Marcellus";
    src: url("assets/fonts/Marcellus-Regular.ttf") format("truetype");
    font-display: swap;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
    margin:0;
    background:#ece4d8;
    display:flex;
    justify-content:center;
    overflow-x:hidden;
}

.frame{
    width:100%;
    max-width:430px;      /* Mobile invitation width */
    min-height:100vh;
    background:#faf7f2;
    position:relative;
    overflow:hidden;
}

/* ===========================
   BODY LOCK
=========================== */

body.lock-scroll{
    overflow:hidden;
    height:100vh;
}

.start-card-section{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

.start-card-section img{

    width:100%;
    height:100%;

    object-fit:cover;

}



main{

    display:none;

    opacity:0;

    position:relative;

    z-index:1;

    background:#faf7f2;

    transition:opacity 2.8s ease;

}

main.show{

    opacity:1;

}
/* ===========================
   HERO
=========================== */

.hero{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f6efe5;
    overflow:hidden;
    z-index:9999;
    transition:opacity 1.8s ease;
}

.hero.hide{
    opacity:0;
    pointer-events:none;
}

/* Wrapper */

.envelope-wrapper{
    position:relative;
    width:100%;
    max-width:430px;
    height:100vh;
    overflow:hidden;
}

/* Images */

.bottom-envelope,
.top-envelope{

    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    display:block;

}

/* Bottom */

/* .bottom-envelope{

    z-index:10;

} */

.bottom-envelope{
    z-index:10;

    transition:
        opacity 2.8s ease,
        transform 2.8s ease;
}

/* Top */
.top-envelope{

    z-index:30;

    transform-origin:top center;

    transition:
        transform 5.8s cubic-bezier(.22,.61,.36,1),
        opacity 5.8s ease;

    cursor:pointer;

    backface-visibility:hidden;

}
/* .top-envelope{

    z-index:30;

    transform-origin:top center;

    transition:
        transform 2.5s ease,
        opacity 2.5s ease;

    cursor:pointer;

    backface-visibility:hidden;

} */

/* Invitation */

.invite-card{

    position:absolute;

    left:50%;
    top:50%;

    width:84%;

    transform:translate(-50%,-50%);

    opacity:0;

    z-index:20;

    transition:opacity 1.2s ease;

}

.invite-card img{

    width:100%;

    display:block;

    border-radius:14px;

}

/* OPEN */

/* .hero.open .top-envelope{

    transform:rotateX(165deg);

    opacity:.12;

} */

.hero.open .top-envelope{

    transform:rotateX(170deg);

    opacity:0;

}
.hero.open .bottom-envelope{

    opacity:0;

}

.hero.open .invite-card{

    opacity:1;

}

/* ===========================
   HERO TEXT
=========================== */

.hero-text{

position:absolute;

left:0;
right:0;
bottom:130px;


 /* left: 50%; */
    top: 47%;              /* Increase this value to move lower */
  

    
padding:25px;

text-align:center;

color:#e8eae2;

z-index:5;


opacity:0;

transform:translateY(40px); 

transition:3s;
}

.hero-text.show{

opacity:2;
transform:translateY(0);

}

.hero-subtitle{

font-family:'Marcellus',serif;

letter-spacing:5px;

text-transform:uppercase;

font-size:12px;

margin-bottom:12px;

opacity:.9;

}

.hero-text h4{

font-family:'Great Vibes',cursive;

font-size:25px;

font-weight:300;

line-height:0.8;

margin-bottom:10px;

}

.hero-text h4 span{

display:block;

font-size:15px;

margin:5px 0;

}

.hero-text p{

font-size:17px;

line-height:1.8;

opacity:.95;

margin-bottom:18px;

}

.hero-text h3{

font-size:22px;

letter-spacing:2px;

font-family:'Marcellus',serif;

font-weight:400;

margin-bottom:25px;

}

.scroll-down{

font-size:13px;

letter-spacing:3px;

text-transform:uppercase;

animation:bounce 2s infinite;

}

@keyframes bounce{

0%{transform:translateY(0);}
50%{transform:translateY(8px);}
100%{transform:translateY(0);}

}

/* ===========================
   SECTIONS
=========================== */

.section{

padding:50px 28px;

text-align:center;

}

.eyebrow{

font-family:'Marcellus',serif;

font-size:12px;

letter-spacing:5px;

text-transform:uppercase;

color:#570f0f;

margin-bottom:15px;

}

.section h2{

font-family:'Great Vibes',cursive;

font-size:48px;

font-weight:400;

color:#570f0f;

margin-bottom:25px;

}

.quote{

font-size:18px;

line-height:1.9;

color:#666;

max-width:340px;

margin:auto;

}



 .couple-card{

width:100%;

max-width:330px;

margin:35px auto 0;

background:#fff;

border-radius:18px;

overflow:hidden;

box-shadow:0 15px 40px rgba(0,0,0,.12);

}

.couple-card img{

width:100%;

display:block;

}

.card-caption{

padding:25px;

text-align:center;

}

.card-caption h3{

font-family:'Great Vibes',cursive;

font-size:42px;

font-weight:400;
color:#570f0f;

}

.card-caption p{

margin-top:8px;

font-size:17px;

color:#777;

}

.amp{

font-family:'Great Vibes',cursive;

font-size:42px;

margin:18px 0;

color:#570f0f;

}



/* ===========================
   COUNTDOWN
=========================== */

.countdown{

display:flex;

justify-content:center;

gap:15px;

flex-wrap:wrap;

margin-top:35px;

}

.time-box{

width:72px;

height:72px;

background:#fff;

border-radius:12px;

box-shadow:0 8px 18px rgba(0,0,0,.08);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

.time-box span{

font-size:28px;

font-weight:700;

color:#570f0f;

}

.time-box small{

margin-top:5px;

font-size:11px;

letter-spacing:2px;

text-transform:uppercase;

color:#666;

}



.event-card{
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    padding: 0;
    width: 100%;
}

.event-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* ===========================
   CLOSING
=========================== */

.closing-name{

margin-top:35px;

font-family:'Great Vibes',cursive;

font-size:52px;

color:#570f0f;

}

.closing-name span{

display:block;

font-size:36px;

margin:8px 0;

}



/* ===========================
   FOOTER
=========================== */

footer{

padding:30px;

text-align:center;

font-size:13px;

color:#888;

}



/* ===========================
   MOBILE
=========================== */

@media(max-width:480px){

.hero-text{

padding:20px;

bottom:40px;

}

.hero-text h1{

font-size:46px;

}

.hero-text h3{

font-size:18px;

}

.hero-text p{

font-size:15px;

}

.section{

padding:60px 20px;

}

.section h2{

font-size:40px;

}

.card-caption h3{

font-size:36px;

}

.time-box{

width:65px;

height:65px;

}

.time-box span{

font-size:24px;

}

.event-row{

font-size:15px;

}

}












/* ===========================
   MOBILE
=========================== */

@media(max-width:480px){

.hero-text{

padding:20px;

bottom:40px;

}

.hero-text h1{

font-size:46px;

}

.hero-text h3{

font-size:18px;

}

.hero-text p{

font-size:15px;

}

.section{

padding:60px 20px;

}

.section h2{

font-size:40px;

}

.card-caption h3{

font-size:36px;

}

.time-box{

width:65px;

height:65px;

}

.time-box span{

font-size:24px;

}

.event-row{

font-size:15px;

}

}








/* ===========================
   LOCATION
=========================== */

.location-section{
    padding:60px 20px;
    text-align:center;
}

.location-section h2{
    margin-top:8px;
}

.divider{
    font-size:18px;
    color:#c89b7b;
    margin:18px 0 28px;
}

.map-card{
    width:100%;
    max-width:360px;
    margin:auto;
    overflow:hidden;
    border-radius:18px;
    border:2px solid #e6cfc8;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
}

.map-card iframe{
    width:100%;
    height:280px;
    border:none;
}

.location-info{
    margin:35px 0;
}

.location-icon{
    width:38px;
    margin-bottom:12px;
}

.location-info h3{
    font-size:34px;
    font-family:'Cormorant Garamond',serif;
    color:#704f46;
    font-weight:500;
}

.location-info p{
    margin-top:10px;
    font-size:17px;
    color:#7b6d67;
    line-height:1.7;
}

.venue-image{
    width:100%;
    max-width:370px;
    margin:auto;
    overflow:hidden;
    border-radius:18px;
    /* border:2px solid #ead5cf; */
    /* box-shadow:0 20px 40px rgba(0,0,0,.10); */
}

.venue-image img{
    width:100%;
    display:block;
}